/* Rubik Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
/* Custom scrollbar: */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(200, 215, 230, 0.2);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgba(200, 215, 230, 0.7);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(200, 215, 230);
    border-radius: 2px;
}

/* Obligatory fancy dark theme */
body {
    background-color: #1b1717;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    margin-top: 10rem;
}

p::selection {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.greetingText {
    font-weight: 400;
    font-size: 8vmin;
    text-align: center;
    margin: 0 auto;
}

.subtitle-text {
    font-weight: 300;
    font-size: 4.25vmin;
    text-align: center;
    margin: 0 auto;
}