/* Rubik Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');




/* Custom scrollbar: */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(200, 215, 230, 0.2);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgba(200, 215, 230, 0.7);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(200, 215, 230);
    border-radius: 2px;
}

/* Page Content: */
.dark-background {
    background-color: #1b1717;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

body {
    margin-top: 10rem;
}

p::selection {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.rect-card {
    background-color: rgb(48,48,48);
    color: rgba(220, 220, 220, 0.5);
    width: 250px;
    height: 350px;

    display: table;
    margin: auto;
    
    transition: background-color 0.6s ease-in-out, color 0.5s ease-in-out;

    padding: 5%;

    border-radius: 20px;
}

.greetingText {
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    margin: 0.5rem auto 0 auto;
}

.subtitle-text {
    font-weight: 100;
    font-size: 1.4em;
    text-align: center;
    margin: 0 auto 0 auto;
}

.rect-card-text {
    font-weight: normal;
    text-align: center;
}

.rect-card-text {
    font-weight: lighter;
}

.user-image {
    max-width: 192px;
    display: table;
    margin: auto;
    border-radius: 50%;
    user-select: none;
    -webkit-user-drag: none;
}

.rect-card-text::selection {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.rect-card:hover {
    background-color: rgb(40,40,40);
    color: rgba(220, 220, 220, 1);

    transition: background-color 0.5s ease-in-out, color 0.6s ease-in-out;
}