:root {
    --dark-background-colour: rgb(36, 36, 36);
}

html {
    scroll-behavior: smooth;
}

* {
    inset: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--dark-background-colour);
    color: #FFF;
    overflow-y: overlay;
    scrollbar-gutter: stable;
}

/*
navbar
*/
.navbar {
    color: #fff;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 2.5rem;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--dark-background-colour);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

nav ul li a:hover {
    color: #65e52c;
}

/*
main section
*/
#hey, #name, #caption {
    margin: 0;
    text-align: center;
}

#hey {
    margin-top: 5rem;
}


footer {
    text-align: center;
    padding: 1rem;
    margin: auto;
}

/*
skills section
*/
.skillset-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 3rem);
    gap: 2rem;
    padding: 0.2rem;
    margin: auto 20rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 64px;
    height: 64px;
}


/*
form
*/
input, textarea, button {
    font-family: inherit;
    font-size: inherit;
    text-align: left;
    background-color: var(--dark-background-colour);
    color: #0f0;
}
*::placeholder {
    text-align: left;
    color: #FFF;
}
.contact-container {
    max-width: 25rem;
    margin: 3rem auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-top: 1rem;
}

input[type="text"],
input[type="email"], textarea {
    width: 20rem;
    height: 2.5rem;
    border: 1px solid white;
    text-align: left;
}
textarea {
    height: 7.5 rem;
    resize: vertical;
    max-height: 15rem;
}

button[type="submit"] {
    width: 5rem;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-weight: bold;

    position: relative;
    background-color: #fff;
    color: black;
    isolation: isolate; /* If ommitted, child pseudo element will be stacked behind */
}

button[type="submit"]::before {
    content: "";
    position: absolute;
    background-color: #0f0;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    transition: right 200ms ease-in-out;
    z-index: -1;
}

button[type="submit"]:hover::before {
    right: 0;
}

/*
contacts section
*/
#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
}


#contacts .icon img {
    width: 48px;
    height: 48px;
    margin: 0 1rem;
}