/* Rubik Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
/* Custom scrollbar: */
::-webkit-scrollbar {
    width: 10px;
}

/* ::-webkit-scrollbar-track {
    background: rgba(200, 215, 230, 0.2);
    border-radius: 2px;
} */

::-webkit-scrollbar-thumb {
    background: rgba(200, 215, 230, 0.7);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(200, 215, 230);
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

li.nav-bar { 
    float: right;
}
li.nav-bar a {
    color: white;
}
li.nav-bar a {
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-weight: 100;

    text-decoration: none;
    color: white;
    transition: color 0.25s ease-in-out;
}

li.nav-bar a:hover {
    color: #3df803;
}

li.nav-bar a {
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

@media only screen and (max-width: 700px) {
    li.nav-bar {
        display: none;
    }
}

/* Obligatory fancy dark theme */
body {
    background-color: #1b1717;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

p::selection {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

.greetingText {
    font-weight: 400;
    font-size: 8vmin;
    text-align: center;
    margin: 6vmin auto 0 auto;
}

.subtitle-text {
    font-weight: 300;
    font-size: 4.25vmin;
    text-align: center;
    margin: 0 auto;
}