:root {
    --dark-background-colour: rgb(15, 17, 18);
}

html {
    scroll-behavior: smooth;
}

* {
    inset: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--dark-background-colour);
    color: #FFF;
    overflow-y: overlay;
    scrollbar-gutter: stable;
}

/*
navbar
*/
.navbar {
    color: #fff;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--dark-background-colour);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

nav ul li a:hover {
    color: #65e52c;
}

/*
main section
*/
#hey, #name, #caption {
    margin: 0;
    text-align: center;
}

#hey {
    margin-top: 5rem;
}


footer {
    text-align: center;
    padding: 1rem;
    margin: auto;
}

/*
form
*/

/*
contacts section
*/
#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
    margin: 0.5rem 1.2rem;
    background-size: cover;
}

.icon:hover {
    background: #65e52c;
}

.instagram {
    background-image: url("../img/icons/instagram.png");
}

.twitter {
    background-image: url("../img/icons/instagram.png");
}

.github {
    background-image: url("../img/icons/instagram.png");
}

.email {
    background-image: url("../img/icons/instagram.png");
}